* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-light: #fafafa;
        --clr-dark: #161616;

        --clr-primary: #fbb040;
        --clr-secondary: #c3a08f;
        --clr-accent: null;

        --foreground: var(--clr-dark);
        --background: var(--clr-light);
        --butFore: #ccc;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-light: #fafafa;
        --clr-dark: #161616;

        --clr-primary: #fbb040;
        --clr-secondary: #cd853f;
        --clr-accent: null;

        --foreground: var(--clr-light);
        --background: var(--clr-dark);
        --butFore: #aaa;
    }
}

body {
    background-color: var(--background);
}

.header {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    background-color: var(--clr-primary);
}

.header h1 {
    color: var(--clr-dark);
    padding: 10px;
    width: max-content;
    margin: auto;
}

.clicker {
    text-align: center;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
    background-color: var(--clr-secondary);
    height: calc(100vh - 94px);
    padding-top: 5vh;
}

.stats {
    background-image: linear-gradient(to right, #0000, #6666, #0000);
    text-align: center;
    font-size: 2em;
    width: 100%;
}

.bps {
    font-size: 0.66em;
}

.clicking {
    /*background-image: radial-gradient(circle, #fffa, #0000 55%);*/
    margin-top: 10%;
    width: 30%;
    margin: auto;
    transition: 300ms;
}

.clicking:hover {
    width: 31%;
}

.clicking:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 30vw;
    left: 35vw;
    top: calc(94px + 5vh);
    height: 40vw;
    background-image: radial-gradient(#fffa, #0000 50%);
    transition: 300ms;
}

.clicking:active {
    width: 29%;
}

.clicking:active::before {
    background-image: radial-gradient(#fffa, #0000 70%);
}

.click-battery {
    position: relative;
    width: 100%;
}

.upgrade-name {
    font-size: 1.5em;
}

.upgrade-price {
    float: right;
    font-size: 1.5em;
}

.upgrade-description {
    font-size: 1em;
}

.upgrade-value {
    font-size: 1em;
}
.upgrade,
.passive {
    display: block;
    width: 25vw;
    min-height: 10vh;
    background-color: var(--butFore);
    border: 5px solid #444;
    border-radius: 10px;
    margin-bottom: 3px;
}

.passive-name {
    font-size: 1.5em;
}

.passive-price {
    float: right;
    font-size: 1.5em;
}

.passive-description {
    font-size: 1em;
}

.passive-value {
    font-size: 1em;
}

.canBuy {
    border-color: rgb(0, 175, 0);
}

.cannotBuy {
    border-color: rgb(200, 0, 0);
}

@media (min-width: 769px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
    .wrapper .upgrades {
        order: 1;
    }
    .wrapper .clicker {
        order: 2;
    }
    .wrapper .passives {
        order: 3;
    }
}
@media (max-width: 768px) {
    .header {
        font-size: 1em;
    }
    .stats {
        font-size: 1.25em;
    }
    .clicking {
        width: 50%;
        padding-bottom: 20%;
    }
    .clicking:hover {
        width: 52%;
    }
    .clicker {
        width: 100%;
        height: min-content;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    .wrapper .clicker {
        order: 1;
    }
    .wrapper .upgrades {
        order: 2;
    }
    .wrapper .passives {
        order: 3;
    }
    .upgrade,
    .passive {
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
        height: fit-content;
    }
    .upgrades,
    .passives {
        display: inline-block;
        width: 50%;
    }
}
